node_modules
npm-debug.log
dist
.env*
.git
.gitignore
README.md
.eslintrc*
.prettierrc
.vscode
.idea
coverage
.nyc_output
*.log
uploads/*
test
*.spec.ts
*.test.ts
.DS_Store
Thumbs.db
*.md
!README.md
.github
.husky
